<body style="margin: 0; padding: 0;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <table align="center" border="1" cellpadding="0" cellspacing="0" width="460">
          <!-- Header -->
          <tr>
            <td align="center" bgcolor="#70bbd9">
              <img src="https://www.mhasistemas.com.br/wp-content/uploads/2018/08/wms-mha-1186x593.png" alt="OPEN WMS" width="460" height="230" style="display: block;" />
            </td>
          </tr>

          <!-- Content -->
          <tr>
            <td bgcolor="#ffffff" style="padding: 5px 30px 10px 30px;">
              <table border="0.5" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td style="padding: 20px 0 20px 0;">
                    <span style="margin-bottom: 8px;">Olá, <span style="font-weight: bold;">{{name}}</span>. =)</span>
                    </br></br></br>
                    <span style="margin-bottom: 4px;">Vimos que você criou uma nova conta ou trocou seu e-mail em nosso sistema e este e-mail serve para que você possa confirmar sua conta.</span>
                    </br></br>
                    <span style="margin-bottom: 10px;"><a href="{{confirmUrl}}" target="_blank">Clique aqui</a> para realizar a confirmação do seu registro.</span>
                    </br></br>
                    <span>Confirmando sua conta, você vai receber avisos quando tiver um produto que você deseja realizar um estoque minimo. Atingindo esse numero que você configurou no site, vamos te avisar e você nunca vai se precoupar em esquecer de reabastecer esse produto! :)</span>
                    </br></br>
                    <span>E os beneficios não param por ai! Também iremos te avisar caso algum produto esteje perto de vencimento, fazendo com que voce identifique com facilidade quais produtos utilizar. E o melhor de tudo é que você decide quantos dias antes você deseja ser avisado!</span>
                    </br></br>
                    <span>Conte conosco para lembra-lo sempre!</span>
                    </br></br></br>
                    <span><span style="font-weight: bold;">Este link expira em 3 dias</span>, depois desse prazo, <span style="font-weight: bold;">sua conta não vai poder acessar nossas features especiais.</span></span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>


          <!-- Footer -->
          <tr>
            <td bgcolor="#023047" style="padding: 15px 30px 15px 30px;">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td align="right">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td>
                          <a href="https://google.com" target="_blank">
                            <img src="https://media.discordapp.net/attachments/853749835258003467/855918436123541524/openWMS.png" alt="FrontendWebsite" width="180" height="70" style="display: block;" border="0" />
                          </a>
                        </td>
                        <td width="75%"></td>
                        <td>
                          <a href="https://github.com/regisfaria/wms_hackathon_backend" target="_blank">
                            <img src="https://robotics.upc.edu/en/software/github-mark-32px.png/@@images/image.png" alt="Backend" width="45" height="45" style="display: block;" border="0" />
                          </a>
                        </td>
                        <td width="15%"></td>
                        <td>
                          <a href="https://github.com/iigorcunha/hackathon-wms-web" target="_blank">
                            <img src="https://robotics.upc.edu/en/software/github-mark-32px.png/@@images/image.png" alt="Frontend" width="45" height="45" style="display: block;" border="0" />
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>